{% extends 'base.html' %}

{% load static %}

{% block body %}
{% include 'navbar.html' %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/Banner.jpg' %}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>About me <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Quien Soy</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
                style="background-image: url({% static 'images/BannerCuadrado.jpg' %});">
            </div>
            <div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
                <div class="heading-section">
                    <span class="subheading">Transforma tu vida</span>
                    <h2 class="mb-4">La mejor coach transformacional en México.</h2>

                    <p>Hanna Garduño es una conferencista internacional y coach transformacional como consecuencia de
                        vivir su
                        propósito de vida. Ha tenido la oportunidad de inspirar a miles de personas en esenarios
                        internacionales.
                        <p>Hanna Garduño ha tenido un llamado a servir, a corta edad participó en actividades de
                            contribución como
                            ayudar a organizaciones de gente vulnerable de la tercera edad y niños de bajos recursos.
                            Desde la
                            Universidad Hanna Garduño comenzó a hacer negocios que la han llevado a reforzar cuál es su
                            propósito de
                            vida.</p>
                        <a href="https://www.youtube.com/watch?v=yHE_-lW5fX8"
                            class="play-video popup-youtube d-flex align-items-center mt-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-play"></span>
                            </div>
                            <span class="watch">Ve este video</span>
                        </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="500">0</strong>
                        <span>Nuestros Clientes Felices &amp; Satisfechos</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="10">0</strong>
                        <span>Años de Experiencia en el Negocio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="100">0</strong>
                        <span>Conferencias Magistrales</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section testimony-section">
    <div class="img img-bg border" style="background-image: url(images/bg_4.jpg);"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Testimonios</span>
                <h2 class="mb-3">Clientes Felices</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% include 'loader.html' %}

{% endblock body %}