{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include 'navbar.html' %}

<div class="hero-wrap" style="background-image: url('{% static 'images/humphrey-muleba-9MoQKZW0nGU-unsplash.jpg' %}');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center">
      <div class="col-md-6 ftco-animate d-flex align-items-end">
        <div class="text w-100">
          <h1 class="mb-4">Coach Transformacional</h1>
          <p class="mb-4">Empresaria | Conferencista Internacional | Coach Transformacional | Creadora del Sistema
            Vivo en Abundancia |
            Forjando Líderes.</p>
          <p><a href="#" class="btn btn-primary py-3 px-4">Contactanos</a> <a href="#"
              class="btn btn-white py-3 px-4">Leér más</a></p>
        </div>
      </div>
      <a href="https://www.youtube.com/watch?v=uIqeaeqPpMA"
        class="img-video popup-youtube d-flex align-items-center justify-content-center">
        <span class="fa fa-play"></span>
      </a>
    </div>
  </div>
</div>

<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex">
        <div class="intro aside-stretch d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-checklist"></span>
          </div>
          <div class="text">
            <h2>Leader's code</h2>
            <p>Ser líder va más allá de solo resultados financieros... implica una serie de componentes, como el
              código de ética.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-employee"></span>
          </div>
          <div class="text">
            <h2>Generar riqueza</h2>
            <p>¿Te gustaría convertir tu mente en tu mayor aliada para generar riqueza? ¿Te gustaría lograr mucho más
              en menos tiempo?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-umbrella"></span>
          </div>
          <div class="text">
            <h2>Los sueños no tienen edad</h2>
            <p>¿Deses cambiar los paradigmas que te alejan de tus sueños?
              ¿Estás listo para convertirte en una persona imparable?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Transforma tu vida</span>
        <h2>Como funciona</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div class="number d-flex align-items-center justify-content-center"><span>01</span></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-calendar"></span>
            </div>
          </div>
          <h2>Preparate</h2>
          <p>Estudiar y practicar técnicas de coaching transformacional avanzado.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div class="number d-flex align-items-center justify-content-center"><span>02</span></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-qa"></span>
            </div>
          </div>
          <h2>Marca Personal</h2>
          <p>Edificar su marca personal y potencializar las relaciones públicas.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div class="number d-flex align-items-center justify-content-center"><span>03</span></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-checklist"></span>
            </div>
          </div>
          <h2>Técnica</h2>
          <p>Recibir técnicas de ventas desde la esencia.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div class="number d-flex align-items-center justify-content-center"><span>04</span></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-calendar"></span>
            </div>
          </div>
          <h2>Desarrolla Habilidades</h2>
          <p>Desarrollar habilidades de influencia para hablar en público.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div class="number d-flex align-items-center justify-content-center"><span>05</span></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-qa"></span>
            </div>
          </div>
          <h2>Comunicación Asertiva</h2>
          <p>Implementar técnicas de comunicación directa y efectiva.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div class="number d-flex align-items-center justify-content-center"><span>06</span></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-checklist"></span>
            </div>
          </div>
          <h2>Dones y Habilidades</h2>
          <p>Identificar y desarrollar los dones en combinación con las habilidades y experiencia del participante
            para así diseñar productos y servicios que representan su propósito.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
        style="background-image: url({% static 'images/thisisengineering-raeng.jpg' %});">
      </div>
      <div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
        <div class="heading-section">
          <span class="subheading">Transforma tu vida</span>
          <h2 class="mb-4">La mejor coach transformacional en México.</h2>

          <p>Hanna Garduño es una conferencista internacional y coach transformacional como consecuencia de vivir su
            propósito de vida. Ha tenido la oportunidad de inspirar a miles de personas en esenarios internacionales.
            <p>Hanna Garduño ha tenido un llamado a servir, a corta edad participó en actividades de contribución como
              ayudar a organizaciones de gente vulnerable de la tercera edad y niños de bajos recursos. Desde la
              Universidad Hanna Garduño comenzó a hacer negocios que la han llevado a reforzar cuál es su propósito de
              vida.</p>
            <a href="https://www.youtube.com/watch?v=yHE_-lW5fX8"
              class="play-video popup-youtube d-flex align-items-center mt-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-play"></span>
              </div>
              <span class="watch">Ve este video</span>
            </a>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Nuestros Servicios</span>
        <h2 class="mb-3">Te Podemos Ayudar A Tener Una Nueva Vida</h2>
      </div>
    </div>
    <div class="row tabulation mt-4 ftco-animate">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
          <li class="nav-item text-left">
            <a class="nav-link active py-4" data-toggle="tab" href="#services-1">Problemas Financieros</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-2">Los Tres Pilares Del Éxito</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-3">Mejora La Moral</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-4">Incrementa Tus Ingresos</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-5">Mejora Tu Productividad</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-6">Mejora La Comunicaación</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane container p-0 active" id="services-1">
            <div class="img" style="background-image: url({% static 'images/services-1.jpg'%});"></div>
            <h3><a href="#">Problemas Financieros</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor quaerat assumenda ex ab eos
              illo id aliquam debitis voluptatem temporibus, cumque, obcaecati necessitatibus ad sint quis officia
              tenetur quod?</p>
          </div>
          <div class="tab-pane container p-0 fade" id="services-2">
            <div class="img" style="background-image: url({% static 'images/services-2.jpg' %});"></div>
            <h3><a href="#">Los Tres Pilares Del Éxito</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor quaerat assumenda ex ab eos
              illo id aliquam debitis voluptatem temporibus, cumque, obcaecati necessitatibus ad sint quis officia
              tenetur quod?</p>

          </div>
          <div class="tab-pane container p-0 fade" id="services-3">
            <div class="img" style="background-image: url({% static 'images/services-3.jpg' %});"></div>
            <h3><a href="#">Mejora La Moral</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor quaerat assumenda ex ab eos
              illo id aliquam debitis voluptatem temporibus, cumque, obcaecati necessitatibus ad sint quis officia
              tenetur quod?</p>

          </div>
          <div class="tab-pane container p-0 fade" id="services-4">
            <div class="img" style="background-image: url({% static 'images/services-4.jpg' %});"></div>
            <h3><a href="#">Incrementa Tus Ingresos</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor quaerat assumenda ex ab eos
              illo id aliquam debitis voluptatem temporibus, cumque, obcaecati necessitatibus ad sint quis officia
              tenetur quod?</p>

          </div>
          <div class="tab-pane container p-0 fade" id="services-5">
            <div class="img" style="background-image: url({% static 'images/services-5.jpg'%});"></div>
            <h3><a href="#">Mejora Tu Productividad</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor quaerat assumenda ex ab eos
              illo id aliquam debitis voluptatem temporibus, cumque, obcaecati necessitatibus ad sint quis officia
              tenetur quod?</p>

          </div>
          <div class="tab-pane container p-0 fade" id="services-6">
            <div class="img" style="background-image: url({% static 'images/services-6.jpg' %});"></div>
            <h3><a href="#">Mejora La Comunicaación</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor quaerat assumenda ex ab eos
              illo id aliquam debitis voluptatem temporibus, cumque, obcaecati necessitatibus ad sint quis officia
              tenetur quod?</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section testimony-section">
  <div class="img img-bg border"
    style="background-image: url({% static 'images/christina-wocintechchat-com-c5pRBXFhJgo-unsplash.jpg' %});"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Testimonios</span>
        <h2 class="mb-3">Clientes Felices</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'counter.html' %}

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Precios &amp; Planes</span>
        <h2>Paquetes disponibles</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate d-flex">
        <div class="block-7 w-100">
          <div class="text-center">
            <span class="price"><sup>$</sup> <span class="number">4,900</span> <sub>1er modulo</sub></span>
            <span class="excerpt d-block">Para principiantes</span>
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate d-flex">
        <div class="block-7 w-100">
          <div class="text-center">
            <span class="price"><sup>$</sup> <span class="number">7,900</span> <sub>2do modulo</sub></span>
            <span class="excerpt d-block">Para Coaches</span>
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate d-flex">
        <div class="block-7 w-100">
          <div class="text-center">
            <span class="price"><sup>$</sup> <span class="number">10,900</span> <sub>todos</sub></span>
            <span class="excerpt d-block">Para negocios</span>
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
              <li><span class="fa fa-check mr-2"></span>Lorem ipsum Lorem</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">¡Inicia Ya!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-appointment ftco-section img" style="background-image: url(images/bg_2.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 half ftco-animate">
        <h2 class="mb-4">Mandame un mensaje</h2>
        <form action="#" class="appointment">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tú Nombre">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="fa fa-chevron-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Servicios</option>
                      <option value="">Relation Problem</option>
                      <option value="">Couple Counseling</option>
                      <option value="">Depression Treatment</option>
                      <option value="">Family Problem</option>
                      <option value="">Personal Problem</option>
                      <option value="">Business Problem</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" value="Envíar" class="btn btn-primary py-3 px-4">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Eventos</span>
        <h2>Próximos Eventos</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <div class="text text-center">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_1.jpg');">
            </a>
            <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
              <div>
                <span class="day">18</span>
                <span class="mos">Noviembre</span>
                <span class="yr">2021</span>
              </div>
            </div>
            <h3 class="heading mb-3"><a href="#">Convención LatinoAmérica</a></h3>
            <p>Los Nuevos Profesionales. Familia internacional GIG OS, les damos la más cordial bienvenida a una
              actividad que sin duda será la consolidación de una oportunidad que esta transformando vidas a nivel
              mundial, para ser exacto más de 100 países.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <div class="text text-center">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_2.jpg');">
            </a>
            <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
              <div>
                <span class="day">18</span>
                <span class="mos">Noviembre</span>
                <span class="yr">2021</span>
              </div>
            </div>
            <h3 class="heading mb-3"><a href="#">Convención LatinoAmérica</a></h3>
            <p>Los Nuevos Profesionales. Familia internacional GIG OS, les damos la más cordial bienvenida a una
              actividad que sin duda será la consolidación de una oportunidad que esta transformando vidas a nivel
              mundial, para ser exacto más de 100 países.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <div class="text text-center">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_3.jpg');">
            </a>
            <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
              <div>
                <span class="day">18</span>
                <span class="mos">Noviembre</span>
                <span class="yr">2021</span>
              </div>
            </div>
            <h3 class="heading mb-3"><a href="#">Convención LatinoAmérica</a mb-3></h3>
            <p>Los Nuevos Profesionales. Familia internacional GIG OS, les damos la más cordial bienvenida a una
              actividad que sin duda será la consolidación de una oportunidad que esta transformando vidas a nivel
              mundial, para ser exacto más de 100 países.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
{% include 'loader.html' %}



{% endblock body %}